<h1>ABOUT US</h1>

<%= link_to 'Home', welcome_home_path %>
<%= link_to 'Contact Us', welcome_contact_path %>
<%= link_to 'Bridging Loans', welcome_bridgingloans_path %>
<%= link_to 'Bridging Uses', welcome_bridginguses_path %>
<%= link_to 'About Secured Lending', welcome_secured_path %>
<%= link_to 'Form', welcome_onlineform_path %>
<%= link_to 'Loan Plans', welcome_loanplans_path %>




<h2>
An individual approach to bridging finance

Established in 2008, Roma Finance, a member of the ASTL and NACFB, is an independent principal lender offering short term bridging loans secured on residential, commercial and industrial properties throughout England and Wales.

Our experience, expertise and smooth processes allow us to complete deals quickly, often within 48 hours. We have a proven track record of prompt payouts and fast fundings that have helped many borrowers to acquire property, change the use and maximise planning gains from investment.

With a flexible and professional approach, we work closely with introducers and their borrowers to provide solutions to help realise a property’s full potential. We are often referred to as a ‘broker’s lender’ because we get under the skin of every case to try to find a lending solution.

No two cases are the same, so by meeting every borrowers our finance can be designed to deliver for each individual transaction.

Whether your borrower is buying property at auction, needs to kick start a stalled project, has been let down by another lender, requires development finance or is renovating a property, at Roma Finance you will always speak with a decision maker which speeds up the process and efficiently moves the case to completion. Read our service Charter about how we work with our introducers.

Our experienced and capable Lending Managers are passionate about property lending and will go the extra mile to deliver fast bridging finance – even if that means working outside office hours. They are an expert, supportive and helpful team that delivers the kind of high quality service you would expect from people who have been lending in the property business for years.<h2>

