<h1>this is the home</h1>




<%= link_to 'Home', welcome_home_path %>
<%= link_to 'About Us', welcome_about_path %>
<%= link_to 'Contact Us', welcome_contact_path %>
<%= link_to 'Bridging Loans', welcome_bridgingloans_path %>
<%= link_to 'Bridging Uses', welcome_bridginguses_path %>
<%= link_to 'About Secured Lending', welcome_secured_path %>
<%= link_to 'Form', welcome_onlineform_path %>
<%= link_to 'Loan Plans', welcome_loanplans_path %>





<h2>This is a Heading </h2>
<p>This is a paragraph.</p>



<img src="welcome/ass.png" alt="Mountain View">



<!DOCTYPE html>
<html lang="en-us">
<head>
<style>
.city {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
}   
</style>
</head>
<body>

<h1>Responsive Web Design Demo</h1>
<h2>Resize this responsive page!</h2>

<div class="city">
  <h2>London</h2>
  <p>London is the capital of England.</p>
  <p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>

<div class="city">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p> 
  <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
</div>

<div class="city">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
  <p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>
</div>

<div class="city">
  <h2>New York</h2>
  <p>The City of New York is the most populous city in the United States.</p>
  <p>New York is an important center for international diplomacy and has been described as the cultural and financial capital of the world.</p>
</div>

</body>
</html>


<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">


  
<nav>
  <ul>
    <li><a href="#">Loan Packages</a></li>
    <li><a href="#">Process</a></li>
    <li><a href="#">Apply</a></li>
  </ul>
</nav>

<article>
  <h1>Euhemereus Finance</h1>
  <p>Funding 365 is a London-based bridging lender providing fast, bespoke 3 to 12 month loans from £100,000 to £5m+, secured against properties across England and Wales</p>

  <p>Our highly competitive interest rates start at just 0.65%pcm for residential investment properties and 0.85%pcm for commercial properties. We believe in fair and transparent business, so unlike many other lenders we don’t charge mortgage acceptance fees, exit fees or early repayment fees, and we believe that it’s the right thing to do to rebate interest - calculated on a daily basis - on loans paid back early.</p>

</article>

<footer> Euhemerus Financing</footer>

</div>

</body>
</html>


  