<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= link_to 'Home', welcome_home_path %>
<%= link_to 'About Us', welcome_about_path %>
<%= link_to 'Contact Us', welcome_contact_path %>
<%= link_to 'Bridging Loans', welcome_bridgingloans_path %>
<%= link_to 'Bridging Uses', welcome_bridginguses_path %>
<%= link_to 'About Secured Lending', welcome_secured_path %>
<%= link_to 'Form', welcome_onlineform_path %>
<%= link_to 'Loan Plans', welcome_loanplans_path %>
